# put here your custom config value
menu "Example Configuration"

    menu "WiFi config"
        config ESP_WIFI_SSID
            string "WiFi SSID"
            default "myssid"
            help
            SSID (network name) for the example to connect to.

        config ESP_WIFI_PASSWORD
            string "WiFi Password"
            default "mypassword"
            help
            WiFi password (WPA or WPA2) for the example to use.
    endmenu

    config I2C_SDA_PIN
        int "I2C SDA pin"
        default 21
        help
            Set the GPIO number used for I2C SDA.
    
    config I2C_SCL_PIN
        int "I2C SDA pin"
        default 22
        help
            Set the GPIO number used for I2C SCL.

endmenu
